.moon-container {
  display: flex;
  position: absolute;
  top: 3%;
  left: 80%;
  height: 200px;
}

.moon {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 20px 10px #fff, 0 0 40px 20px #fff, 0 0 60px 30px #fff,
    0 0 80px 40px #fff, 0 0 100px 50px #fff, 0 0 120px 60px #fff,
    0 0 140px 70px #fff;
  animation: glow 2s infinite ease-in-out;
}

@keyframes glow {
  0%,
  100% {
    box-shadow: 0 0 20px 10px #fff, 0 0 40px 20px #fff, 0 0 60px 30px #fff,
      0 0 80px 40px #fff, 0 0 100px 50px #fff, 0 0 120px 60px #fff,
      0 0 140px 70px #fff;
  }
  50% {
    box-shadow: 0 0 20px 10px #fff, 0 0 40px 20px #fff, 0 0 60px 30px #fff,
      0 0 80px 40px #fff, 0 0 100px 50px rgba(255, 255, 255, 0.5),
      0 0 120px 60px rgba(255, 255, 255, 0.5),
      0 0 140px 70px rgba(255, 255, 255, 0.5);
  }
}
